{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body> 
    <header id="site-header-container">
        <div id="nav-container">
            <a href=""><img id="logo" src="{% static 'images/logo.png' %}" alt=""></a>
            <div id="user-nav-container">
                <a href="" class="page-nav"><div>UNIVERSE</div></a>
                <a href="" class="page-nav"><div>COMIC SERIES</div></a>
                <a href="" class="page-nav"><div>FUN FACTS</div></a>
                <a href="" class="page-nav"><div>CONTACT US</div></a>
            </div>
            <input type="text">
        </div>
    </header>
        <main id="site-main-container">
            <div id="content-container">
                <div class="side-container">box1</div>
                <div class="side-container">box2</div>
                <div class="side-container">box3</div>
            </div>
        </main>
        <footer id="site-footer-container">
            <div id="footer-container">

            </div>
        </footer>
    </div>
</body>
</html>