body{
    margin: 0;
    padding: 20px;
    background-color: firebrick;
}

#output{
    width: 15vw;
    height: 5vh;
    text-align: center;
    background-color: darkslategrey;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: blanchedalmond;
    margin-top: 20;
    width: 400px;
}

#output{
    margin-top: 100px;
    text-align: center;
}